h1{
    background-color: green;
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    text-align: center;
}
h2{
    color: blue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}
#frase1{
    color: navy;
    font-weight: bold;
    font-size: x-large;
}

thead{
    background-color:black;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-weight: bold;
}

#linea1{
    background-color: white;
}
#linea2{
    background-color: grey;
}
#productos{
    font-family: Arial, Helvetica, sans-serif;
    background-color:black;
    font-size: xx-large;
    color: white;
    text-align: center;
    
}
#servicios{
    font-family: Arial, Helvetica, sans-serif;
    background-color:black;
    font-size: xx-large;
    color: white;
    text-align: center;
    
    
}


#exito{
    background-color:darkgreen;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xx-large;
    text-align: center;
    width: 100%;
    
}
#header {
    margin:auto;
    width:100%;
    font-family:Arial, Helvetica, sans-serif;
}
* {
    margin:0px;
    padding:0px;
    
}



#header {
    background-color:#000;
    color:#fff;
    text-decoration:none;
    padding:10px 12px;
    display:block;
    width: 100%;
    
}

button{
    margin: 5px 0 30px 0;
}
#icon{
    font-size: 10rem;
    text-align: center;
}